#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#end
#if( !$ctx.identity.claims || $util.isNull($ctx.identity.claims.get("sub")) )
  #if( $ctx.result && $ctx.result.status != "published" )
    $util.unauthorized()
  #end
#end
$util.toJson($ctx.result)
